@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

$background: #282a36;
$foreground: #f8f8f2;
$gray: #44475a;
$blue: #6272a4;
$cyan: #8be9fd;
$green: #50fa7b;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;

.dracula {
    font-family: "Raleway", sans-serif;
    font-size: clamp(1.25rem, 2vh, 2rem);
    background-color: $background;
    color: $foreground;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

strong {
    color: $purple;
}

em {
    color: $yellow;
}

body {
    min-height: 400px;
    clear: both;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: $background;
}

a {
    &:link {
        color: $cyan;
    }
    &:visited {
        color: $blue;
    }
    &:hover {
        color: $pink;
    }
    &:active {
        color: $cyan;
    }
}

.indice {
    text-align: center;
}

.atividades {
    margin-top: 5em;
}

.btn {
    padding: 1em;
    transition-duration: 0.1s;
    cursor: pointer;
    color: $foreground;
    border: none;
    background-color: $gray;
    font-size: inherit;

    &:hover {
        background-color: $blue;
        transition-duration: 0s;
    }
    &:active {
        background-color: $cyan;
        color: $background;
    }
    &-indice {
        width: 100%;
    }
    &-redondo {
        border-radius: 100%;
        padding: 1.5em;
    }
}

.bg-vermelho {
    background-color: $red;
}
.bg-amarelo {
    background-color: $yellow;
    color: $background;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-align: justify;
    line-height: 1.6;
}

.retorno {
    margin-bottom: 30px;
}

input {
    margin: 20px;
    border: 4px solid $gray;
}

pre {
    overflow: scroll;
    background-color: $gray;
}

.conteudo {
    margin-inline: auto;
    width: min(80%, 70ch);
    margin-bottom: 20%;
}

.imagem-topo {
    text-align: center;
    & > img {
        margin-inline: auto;
        max-height: 400px;
    }
}

img,
svg,
video {
    max-width: 100%;
}

form {
    & > * {
        font-size: larger;
    }
}

.gasolina {
    display: block;
    padding: 5vw;
    text-align: center;
    & > img {
        max-height: 150px;
    }
}

.menu-sites {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    & > a {
        font-size: 10em;
        flex-grow: 1;
        margin: 0;
        border: 0;
        padding-block: 50vh;
        transition: 0.35s;
        font-weight: bold;
        color: $foreground;
        &:hover {
            padding-inline: 10%;
            color: $background;
        }
    }
    & > #site-normal {
        background-color: $purple;
    }
    & > #site-angular {
        background-color: $pink;
    }
}

.placar {
    display: flex;
    flex-direction: row;
    flex: 1 1 1;
    gap: 1em;
    justify-content: center;
    @media (max-width: 800px) {
        flex-direction: column;
    }
    & > .time {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > h2 {
            margin: 0;
        }
        & > .upload-imagem {
            display: none;
        }
        & > .botoes {
            display: flex;
            flex-direction: column;
        }
        & > .imagem-time {
            max-height: 200px;
            max-width: 200px;
            height: 200px;
            width: 200px;
            margin: 1rem;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            border: 3px dotted $background;
            background-size: contain;
        }
    }
}
