@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
.dracula {
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.25rem, 2vh, 4rem);
  background-color: #282a36;
  color: #f8f8f2;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

strong {
  color: #bd93f9;
}

em {
  color: #f1fa8c;
}

body {
  min-height: 400px;
  clear: both;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #282a36;
}

a:link {
  color: #8be9fd;
}
a:visited {
  color: #6272a4;
}
a:hover {
  color: #ff79c6;
}
a:active {
  color: #8be9fd;
}

.indice {
  text-align: center;
}

.atividades {
  margin-top: 5em;
}

.btn {
  padding: 1em;
  transition-duration: 0.1s;
  cursor: pointer;
  color: #f8f8f2;
  border: none;
  background-color: #44475a;
  font-size: inherit;
}
.btn:hover {
  background-color: #6272a4;
  transition-duration: 0s;
}
.btn:active {
  background-color: #8be9fd;
  color: #282a36;
}
.btn-indice {
  width: 100%;
}
.btn-redondo {
  border-radius: 100%;
  padding: 1.5em;
}

.bg-vermelho {
  background-color: #ff5555;
}

.bg-amarelo {
  background-color: #f1fa8c;
  color: #282a36;
}

.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: justify;
  line-height: 1.6;
}

.retorno {
  margin-bottom: 30px;
}

input {
  margin: 20px;
  border: 4px solid #44475a;
}

pre {
  overflow: scroll;
  background-color: #44475a;
}

.conteudo {
  margin-inline: auto;
  width: min(80%, 70ch);
  margin-bottom: 20%;
}

.imagem-topo {
  text-align: center;
}
.imagem-topo > img {
  margin-inline: auto;
  max-height: 400px;
}

img,
svg,
video {
  max-width: 100%;
}

form > * {
  font-size: larger;
}

.gasolina {
  display: block;
  padding: 5vw;
  text-align: center;
}
.gasolina > img {
  max-height: 150px;
}

.menu-sites {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}
.menu-sites > a {
  font-size: 10em;
  flex-grow: 1;
  margin: 0;
  border: 0;
  padding-block: 50vh;
  transition: 0.35s;
  font-weight: bold;
  color: #f8f8f2;
}
.menu-sites > a:hover {
  padding-inline: 10%;
  color: #282a36;
}
.menu-sites > #site-normal {
  background-color: #bd93f9;
}
.menu-sites > #site-angular {
  background-color: #ff79c6;
}

input {
  border: 0;
  padding: 1rem;
  font-size: inherit;
}

.placar {
  display: flex;
  flex-direction: row;
  flex: 1 1 1;
  gap: 1em;
  justify-content: center;
}
@media (max-width: 800px) {
  .placar {
    flex-direction: column;
  }
}
.placar > .time {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.placar > .time > .upload-imagem {
  display: none;
}
.placar > .time > .botoes > * > button {
  padding-inline: 2em;
}
.placar > .time > .imagem-time {
  max-height: 200px;
  max-width: 200px;
  height: 200px;
  width: 200px;
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: 5px dotted #44475a;
  background-size: contain;
  transition: 0.4s;
}
.placar > .time > .input-numero {
  width: 14ch;
}
.placar > .time > .vitorioso {
  border: 5px solid #50fa7b;
}
.placar > .time > .derrotado {
  border: 5px solid #ff5555;
}
.placar > .time > .empatado {
  border: 5px dotted #44475a;
}
.placar > .time > .contadores > .contador {
  width: 2ch;
  visibility: hidden;
}
.placar > .time > .contadores > .contador.contador-vermelho {
  background-color: #ff5555;
  color: #f8f8f2;
}
.placar > .time > .contadores > .contador.contador-amarelo {
  background-color: #f1fa8c;
  color: #282a36;
}

.menu {
  width: 40vw;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #44475a;
  overflow-x: hidden;
  transition: 0.5s;
}
.menu > button {
  margin: 0.5rem;
}
.menu.escondido {
  width: 0;
}
@media (max-width: 600px) {
  .menu {
    height: auto;
    width: 100%;
  }
}
