@font-face {
    font-family: "Tex Gyre Adventor";
    src: url('../resources/fonts/texgyreadventor-regular.otf');
}

@font-face {
    font-family: "Tex Gyre Adventor";
    src: url('../resources/fonts/texgyreadventor-bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: "Tex Gyre Adventor";
    src: url('../resources/fonts/texgyreadventor-italic.otf');
    font-style: italic;
}

@font-face {
    font-family: "Tex Gyre Adventor";
    src: url('../resources/fonts/texgyreadventor-bolditalic.otf');
    font-weight: bold;
    font-style: italic;
}

.dracula {
    font-family: "Tex Gyre Adventor", serif;
    font-size: 18pt;
    background-color: #282A36;
    color: #F8F8F2;
}

body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #282A36;
}

a:link {
    color: #8BE9FD;
}

a:visited {
    color: #6272A4;
}

a:hover {
    color: #FF79C6;
}

div.indice {
    text-align: center;
}

button {
    border: 1px solid #44475A;
    padding: 20px;
    transition-duration: 0.1s;
    cursor: pointer;
}

button:hover {
    background-color: #6272A4;
    transition-duration: 0s;
}

button:active {
    background-color: #8BE9FD;
}

button.indice {
    width: 100%;
}

div.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.btn-nav {
    color: #F8F8F2;
}

button.btn-antes {
    float: left;
}

button.btn-prox {
    float: right;
}


button.btn-home {
    padding: 15px 25px 16px 25px;
}


p {
    text-align: justify;
    line-height: 1.6;
}

div.conteudo {
    padding: 0 15% 0 15%;
}

figure.imagem-topo {
    text-align: center;
}

div.retorno {
    margin-bottom: 30px;
}